html{
    zoom: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;        
}
header{
    margin-top: 70px;
    width: 100%;
    background: linear-gradient(92.09deg, #6D4D38 -6.62%, #C1DF8A 92.51%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header h1{
    font-family: "Ribeye", serif;
    color: #FFFCD7;
    font-size: 60px;
}



.logo{
    color: #F00;
    font-family: Roboto;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: -4px 2px black,  -8px 4px white;
}

.info{
    position: relative;
    width: 100%;
    height: 528px;
    left: 0px;
    top: 50px;
}
.info-img{
    position: absolute;
    width: 40%;
    left: 55%;
}
.info-div{
    position: absolute;
    left: 5%;
    width: 50%;
}
.info-butt{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.call-butt{
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 3% 10%;
    margin: 5% 5% 5% 0%;
    background: linear-gradient(93.54deg, #C1DF8A 0%, #6D4D38 98.44%);
    border: 4px solid #FFFCD7;
    border-radius: 1000px;
}
.call-butt:hover{
    box-shadow: 0 5px 5px grey;
    transition: 0.2s ease-out;
}
.menu-butt{
   
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;  
    padding: 3% 10%;
    margin: 5% 5% 5% 0%;
    background: linear-gradient(93.54deg, #6D4D38 0%, #C1DF8A 98.44%);
    border: 3px solid #FFFCD7;
    border-radius: 1000px;

}
.menu-butt:hover{
     box-shadow: 0 5px 5px grey;
    transition: 0.2s ease-out;
}

.menu-butt:focus {
    box-shadow: inset 0 5px 0 2px rgb(0, 0, 0);
    color: black;
    top: 10px; 
    transition: 0.5s ease-out;
}

.call-butt:focus {
    box-shadow: inset 0 5px 0 2px rgb(0, 0, 0);
    color: black;
    top: 10px; 
    transition: 0.5s ease-out;
}

.menu{
    
    width: 100%;
    padding-bottom: 170px;
    margin-bottom: 0;
    background: linear-gradient(150.54deg, #C1DF8A 0%, #6D4D38 100%);
    border-radius: 40px;
}

.menu h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow:  10px 4px #FFD705;
    text-align: center;
}

.all-divs-menu{
    background-color: white;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 40px 0 0 40px;
}
.menu-div{
    position: relative;
    left: 88px;
    margin: 2% 0%;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.menu-img{
    width: 20%;  
}
.menu-info{
    position: absolute;
    width: 50%;
    left: 40%;
    top: 0;
    height: 200px;
   
}
.menu-info h3{
    color: #000;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.menu-text{
    color: #000;
    font-family: Roboto;
    font-size: 43px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.about_us{
    margin-top: 50px;
    background: linear-gradient(150.54deg, #C1DF8A 0%, #6D4D38 100%);
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 60px;
   
}
.about_us h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow:  10px 4px #FFD705;
    text-align: center;
}
.about-div{
    width: 100%;
    height: 910px;
    background-image: url("folder/14.png");
    margin-bottom: 60px;
    background-size: cover;  
}


.about_us p{
   width: 868px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 82px;
    padding-top: 60px;
    color: #000000;
}

footer{
    margin-top: 60px;
    text-align: center;
    padding: 50px;
    justify-content: center;
    background: linear-gradient(150.54deg, #C1DF8A 6.75%, #6D4D38 106.75%);
    border-radius: 40px;
}


footer h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow:  10px 4px #FFD705;
    text-align: center;
}
.socials{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px white;
 
}
.footer-info h3{
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 1px 1px white;   
}

.footer-info p{
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-content{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-img{
    width: 100px;
    height: 100px;
    margin-right: 6%;
}
